@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f8f9;
  --foreground: #181b20;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard Variable", Pretendard, -apple-system, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
